<!-- Header -->
<header class="site-header">
  <img src="assets/image.png" alt="Terraterapies Logo" class="logo">
  <h1>Terraterapies Thai y Bali</h1>
  <!-- Botón hamburguesa a la derecha -->
  <button class="hamburger" (click)="toggleMenu()" aria-label="Abrir menú" [attr.aria-expanded]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<!-- Sidebar de navegación -->
<nav class="sidebar" [class.open]="menuOpen">
  <a routerLink="/" (click)="closeMenu()">Home</a>
  <a routerLink="/aromatico" (click)="closeMenu()">Aromático</a>
  <a routerLink="/balines" (click)="closeMenu()">Balinés</a>
  <a routerLink="/lomi-lomi" (click)="closeMenu()">Lomi Lomi</a>
  <a routerLink="/piedras-calientes" (click)="closeMenu()">Piedras Calientes</a>
  <a routerLink="/vela-karite" (click)="closeMenu()">Vela Karité</a>
  <a routerLink="/embarazadas" (click)="closeMenu()">Embarazadas</a>
  <a routerLink="/tailandes" (click)="closeMenu()">Tailandés</a>
  <a routerLink="/fusion-bali-thai" (click)="closeMenu()">Fusión Bali y Thai</a>
  <a routerLink="/pindas" (click)="closeMenu()">Pindas</a>
  <a routerLink="/reflexologia" (click)="closeMenu()">Reflexología</a>
  <a routerLink="/craneal-facial" (click)="closeMenu()">Craneal Facial</a>
  <a routerLink="/descontracturante" (click)="closeMenu()">Descontracturante</a>
</nav>

<!-- Contenido principal -->
<div class="container">
  <router-outlet></router-outlet>

  <div class="btn-wrapper">
    <a href="#" id="btn-reserva" class="btn-reserva">Llamar para reservar</a>
  </div>

  <p>Esperamos brindarte una experiencia de relajación inolvidable en Terraterapies Thai y Bali 🙏🪷</p>
  
  


</div>

<!-- Footer -->
 <footer id="contacto" class="site-footer">
  <div class="footer-container">
    <span>📍 Carrer de Josep Puig i Cadafalch, 42-44, 08172 Sant Cugat del Vallès, Barcelona</span>
    <span>📞 +34 603 17 70 49</span>
    <span>✉️ julieanncolorado31@gmail.com</span>
  </div>
</footer>
