.spacer {
  flex: 1 1 auto;
}


.hero {
  position: relative;
  height: 100vh;   /* full viewport height */
  display: flex;
  align-items: flex-end; /* arrow naturally goes to bottom */
  justify-content: center;
}

.hero-video {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 544px;
  height: auto;
  object-fit: cover;
  z-index: -1;
}
.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounce 1.5s infinite;
  color: white;
  font-size: 40px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}

.therapies-section {
  padding-top: 100vh; /* starts exactly after full-screen video */
  min-height: 100vh;
  max-width: 544px;

  grid-column: 2; /* always center the therapies section */
  padding: 2rem 0;

}

.therapies-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.therapy-index {
  position: sticky;
  top: 80px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.therapy-index div.active {
  font-weight: bold;
  color: var(--mat-primary);
}
.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
