@use '../theme-colors' as my-theme;

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.hero {
  position: relative;
  height: 100vh;   /* full viewport height */
  display: flex;
  align-items: flex-end; /* arrow naturally goes to bottom */
  justify-content: center;
}

.hero-video {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 544px;
  width: 100vw;       /* full viewport width */
  height: 100vh;      /* full viewport height */
  object-fit: cover;  /* maintain aspect ratio, cover entire area */
  z-index: -1;
}

.scroll-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounce 1.5s infinite;
  color: white;
  font-size: 40px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}
.spacer {
  flex: 1 1 auto;
}
.therapies-section {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 544px) 1fr; /* 3 columns always */
  /* Left flexible | Center fixed max-width | Right flexible */
  padding-top: 100vh; /* starts exactly after full-screen video */
  min-height: 100vh;
  gap: 2rem;
  width: 100vw;
  padding: 2rem 0;
  box-sizing: border-box;
  justify-items: center; /* keeps middle column content centered */
}

.therapies-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.therapy-index {
  position: sticky;
  top: 80px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.therapy-index div.active {
  font-weight: bold;
  color: var(--mat-primary);
}

mat-toc {
  grid-column: 3;   // right column
  //position: sticky;
  align-self: start;
}

@media (max-width: 776px) {
  
  mat-toc {
    display: none; // hide TOC if not enough space
  }
}
