<div class="main-container">
  <!-- BACKGROUND VIDEO -->
  <video autoplay muted loop playsinline class="hero-video" [style.opacity]="videoOpacity">
    <source src="assets/home.mp4" type="video/mp4" />
  </video>
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button aria-label="Go to top">
      <mat-icon>home</mat-icon>
    </button>
    <span>Terrateràpies Thai & Bali</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="place">
      <mat-icon>place</mat-icon>
    </button>
    <button matIconButton aria-label="favorite icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button matIconButton aria-label="share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <section class="hero">
    <div class="scroll-indicator" (click)="scrollToContent()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </section>
  <section class="therapies-section">
    <div class="therapies-container">
      <mat-card *ngFor="let therapy of therapies; let i = index" id="therapy-{{i}}" #therapyCard>
        <mat-card-header>
          <mat-card-title>{{ therapy.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="therapy.image" [alt]="therapy.title">
        <mat-card-content>
          <p>{{ therapy.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  <mat-toc [items]="items"></mat-toc>
  </section>
</div>







<!-- <mat-toolbar color="primary" class="footer">
      <span>📍 Carrer de Josep Puig i Cadafalch, 42-44, 08172 Sant Cugat del Vallès, Barcelona</span>
      <span style="margin: 0 1rem;">📞 +34 603 17 70 49</span>
    </mat-toolbar> -->
