<section class="card tratamiento-card">
  <h2>Masaje Descontracturante</h2>
  <div class="foto-tratamiento">
    <!-- <img src="assets/descontracturante.jpg" alt="Masaje Descontracturante"> -->
  </div>
  <p>
    Un tratamiento corporal diseñado para liberar la tensión acumulada en músculos y articulaciones. Mediante técnicas profundas y precisas, alivia contracturas, mejora la circulación y devuelve la movilidad, proporcionando una sensación inmediata de bienestar y ligereza. Ideal para quienes buscan relajación, recuperación y energía renovada  </p>
  <div class="precios-row">
    <div class="price-box">
      <span>30 minutos</span>
      <span>35€</span>
    </div>
    <div class="price-box">
      <span>60 minutos</span>
      <span>60€</span>
    </div>
    <div class="price-box">
      <span>90 minutos</span>
      <span>75€</span>
    </div>
  </div>
</section>