@use '@angular/material' as mat;
@use './theme-colors' as my-theme;

// =====================
// Tipografía global
// =====================
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Roboto:wght@300;400;500&display=swap');

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      secondary: my-theme.$secondary-palette,
      tertiary: my-theme.$tertiary-palette,
      surface: my-theme.$neutral-palette,
      background: my-theme.$neutral-palette,
      error: my-theme.$error-palette,
      // "on" colors: choose light or dark neutrals for contrast
      on-primary: map-get(my-theme.$neutral-palette, 100), // white text/icons
      on-secondary: map-get(my-theme.$neutral-palette, 100),
      on-tertiary: map-get(my-theme.$neutral-palette, 10), // dark text/icons
      on-background: map-get(my-theme.$neutral-palette, 10),
      on-surface: map-get(my-theme.$neutral-palette, 10),
      on-error: map-get(my-theme.$neutral-palette, 100)
    ),
    typography: (
      brand-family: 'Playfair Display, serif',
      plain-family: 'Playfair Display, serif',
      bold-weight: 600,
      medium-weight: 500,
      regular-weight: 400
    ),
    density: 0
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
