<section class="card tratamiento-card">
  <h2>Masaje para Embarazadas</h2>
  <div class="foto-tratamiento">
    <!-- <img src="assets/embarazadas.jpg" alt="Masaje para Embarazadas"> -->
  </div>
  <p>
    Relajación segura y cómoda para futuras mamás: alivia dolores, reduce estrés y cuida tu bienestar y el de tu bebé.
  </p>
  <div class="precios-row">
    <div class="price-box">
      <span>45 minutos</span>
      <span>45€</span>
    </div>
    <div class="price-box">
      <span>60 minutos</span>
      <span>60€</span>
    </div>
    <div class="price-box">
      <span>90 minutos</span>
      <span>75€</span>
    </div>
  </div>
</section>